{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "es5",
	"bracketSameLine": true,
	"objectWrap": "preserve",
	"printWidth": 80,
	"singleAttributePerLine": false,
	"semi": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteBracketNewLine": true,
				"svelteAllowShorthand": true,
				"svelteIndentScriptAndStyle": true,
				"svelteSortOrder": "scripts-options-markup-styles"
			}
		}
	]
}
